@model DuraCore.Models.ShoppingCart

@{
    ViewBag.Title = "Checkout";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

@using (Html.BeginForm("Confirmation", "Home")) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Shopping Cart</legend>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.Item)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Item)
        </div>

        @* TODO 8.5: Add uniquifier. *@
        @Html.HiddenFor(model => model.Item)

        <p>
            <input type="submit" value="Checkout" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
